/* This file is for your main application css. */
@import "./phoenix.css";

html {
  font-size: 62.5%;
}

body {
  background-color: #eee;
}

* {
  padding: 0;
  margin: 0;
}

/* Alerts and form errors */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

.main-layout {
  display: grid;
  grid-template-columns: 25rem auto;
  .sidebar {
    background-color: #31708f;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    .footer {
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 0 1rem;
      button {
        color: #fff;
        background-color: transparent;
        border: 3px solid #fff;
        display: block;
      }
    }
    .logo {
      font-family: "Pacifico", cursive;
      color: #fff;
      font-size: 3.5rem;
      display: block;
      text-align: center;
      padding: 2rem 0;
    }
    .category-items a {
      display: block;
      color: #fff;
      padding: 0.5rem 2rem;
      transition: all 200ms;
      &:hover,
      &.active {
        color: #a94442;
      }
    }
  }
  .main-content {
    padding: 2rem;
    height: 100vh;
    overflow-y: auto;
  }
}

.products-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.5rem;

  @media (min-width: 1500px) {
    grid-template-columns: repeat(6, 1fr);
  }

  .product-item {
    padding: 1rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .image {
      height: 17rem;
      background-size: cover;
      background-position: center;
    }
    h3 {
      font-size: 1.5rem;
    }
    .price {
      display: flex;
      justify-content: space-between;
      .original {
        font-size: 1.3rem;
        color: #aaa;
        text-decoration: line-through;
      }
      .current {
        color: #a94442;
        font-weight: bold;
      }
    }
  }
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  display: none;
  &.active {
    display: flex;
  }

  .loader {
    width: 200px;
    height: 200px;
    border: 10px solid #a94442;
    border-radius: 50%;
    border-left-color: #31708f;
    animation: loader 5000ms infinite ease-in;
  }
  label {
    text-align: center;
    color: #a94442;
    margin-top: 2rem;
  }
}

@keyframes loader {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
