<div class="product-item">
<div>
  <div class="image" style="background-image:url(<%=Spider.get_product_image(@product)%>)"></div>
  <h3 class="title"><%= @product.name %></h3>
</div>

  <div class="price">
    <div class="original"><%= Formatter.format_number(@product.original_price)%></div>
    <div class="current"><%= Formatter.format_number(@product.price)%></div>
  </div>
</div>