<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Shopee</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body>
      <div class="main-layout">
        <div class="sidebar">
        <div class="header">
                  <a href="/" class="logo">ShopeeCrawl</a>
          <div class="category-items">
            <a href="/">Tất cả sản phẩm</a>
            <%= for item <- categories() do%>
              <a href="/?category=<%=item.id%>"><%= item.name %></a>
            <%end%>
          </div>
        </div>
        <div class="footer">
            <button id="sync-button">Delete and fetch</button>
            <button id="async-button">Fetch only (Async)</button>
        </div>
        </div>
        <div class="main-content">
          <%= @inner_content %>
        </div>
      </div>
      <div class="loading" id="loading">
      <div class="center">
        <div class="loader"></div>
        <label>Deleted and fetching</label>
      </div>
      </div>
  </body>
</html> 
